* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font-family: SourceHanSans-Regular, '微软雅黑', 'Helvetica Neue', Arial,
    Roboto, 'Droid Sans', 'Heiti SC', 'Hiragino Sans GB', Simsun, sans-self;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #fafafa;
}

input,
select,
textarea {
    font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0 none;
}

iframe {
    display: block;
}

abbr,
acronym {
    border: none;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ins,
a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidenone {
    display: none;
    visibility: hidden;
}

.hide {
    visibility: hidden;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.tc {
    text-align: center;
}

.wd-1200 {
    width: 1200px;
}

.wd-1200::after {
    clear: both;
    display: table;
    content: '';
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-text{
    font-family: SourceHanSans-Light;
    font-weight: lighter;
    font-size: 0.3rem;
    align-self: flex-start;
    line-height: 1;
    margin-bottom: 0.29rem;
    letter-spacing: 0;
    color: #1a1a1a;
    transition: all 0.3s;
}

.shadow {
    text-shadow: 2px 0 2px #666;
}